



@{ ViewData["Title"] = "Insert"; }

<h2>Insert</h2>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<form>
    OrganizationName:<br>
    <input type="text" id="OrganizationName"><br>
    PrimaryConactName:<br>
    <input type="text" id="PrimaryContactName"><br>
    PrimaryContactEmail:<br>
    <input type="text" id="PrimaryContactEmail"><br>
    PrimaryContactPhone:<br>
    <input type="text" id="PrimaryContactPhone"><br />
    CreatedBy:<br>
    <input type="text" id="CreatedBy"><br>
    ModifiedBy:<br>
    <input type="text" id="ModifiedBy"><br>
    UserName:<br>
    <input type="text" id="Username"><br>
    Email:<br>
    <input type="text" id="Email"><br>

    <input type="file" id="myfile" /><br>
    Password:<br>
    <input type="text" id="password"><br>
    ReTypePassword:<br>
    <input type="text" id="repassword"><br>


    Captcha:<br>
    <div class="g-recaptcha" id="bcd" data-sitekey="6LfgCoUUAAAAADuKI2yyhj0kxkptt7c1QyLXpIHy"></div><br>





    <input type="button" id="Save" value="Save Data" />
</form>


<script>

    var ObjectData = {

        OrganizationName: '',
        LicensePath: '',
        PrimaryContactName: '',
        PrimaryContactEmail: '',
        PrimaryContactPhone: '',
        CreatedDate: '',
        CreatedBy: '',
        Username: ' ',
        Email: '',
        Captcha: '',
        Password:''




    }

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    $(document).ready(function () {

        $("#myfile").on('change', function () {
            var file = document.querySelector('input[type="file"]').files[0];
            //    console.log($(this).val());



            // var file = document.querySelector('#myfile > input[type="file"]').files[0];
            getBase64(file).then(
                function (data) {
                    var abc = data.getBase64;





                    ObjectData.LicensePath = data;
                    console.log('this is the string', abc);

                }




            );
        });
    });












    $(document).ready(function () {
        $("#Save").click(function () {

            ObjectData.OrganizationName = $('#OrganizationName').val();
            ObjectData.PrimaryContactName = $('#PrimaryContactName').val();

            ObjectData.PrimaryContactEmail = $('#PrimaryContactEmail').val();


            ObjectData.PrimaryContactPhone = $('#PrimaryContactPhone').val();
            ObjectData.CreatedBy = $('#CreatedBy').val();
            ObjectData.Username = $('#Username').val();
            ObjectData.Email = $('#Email').val();
            ObjectData.Password = $('#password').val();
            ObjectData.Captcha = $('#g-recaptcha-response').val()



            $.ajax({
                url: '/Picture/Create',
                type: 'POST',
                data: ObjectData,
                success: function (data, textStatus, xhr) {
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr);
                }
            });
        });
    });



</script>


