
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.css">
<link href="~/css/Login.css" rel="stylesheet" />
<div ng-cloak ng-app="BlankApp" ng-controller="MainCtrl">
    <div layout="column" style="padding-top: 15px;padding-bottom: 150px" layout-align="center center" layout-fill="layout-fill">
        @* <div layout="column" class="loginBox md-whiteframe-z1">*@
        <div layout="column" class="box">
            <md-toolbar class="ashok">
                @*   <h2 class="md-toolbar-tools"><span>Login</span></h2>*@
                <h2 class="ashok">
                    <img _ngcontent-c62="" src=~/assets/img/icon.png />

                </h2>

            </md-toolbar>
            <div>
                <form name="loginForm">

                    <md-content layout="column" style="background-color:white" class="md-padding">

                        <md-input-container>


                            <label>Username</label>

                            <input required type="text" style="background-color:antiquewhite;padding-top:30px;padding-bottom:30px;border-color:rgb(221,44,0)" ng-model="loginModel.username" name="username" />

                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">This is required.</div>

                            </div>

                        </md-input-container>





                        <md-input-container>
                            <label>Password</label>
                            <input required type="password" ng-model="loginModel.password" style="background-color:antiquewhite;padding-top:30px;padding-bottom:30px;border-color:rgb(221,44,0)" name="password" />
                            <div ng-messages="loginForm.password.$error" role="alert">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <div style="align-self:flex-end" class="forgetpasword">
                            <a _ngcontent-c62="" style=" font: 400 13px/22px Roboto,Helvetica Neue, sans-serif" ng-reflect-router-link="/forgot-password" href="/Users/ForgetPassword">Forgot Password?</a>
                            <md-icon class="icon">account</md-icon>
                        </div>
                        @*   <div layout="row" layout-align="center center">*@
                        <md-button type="submit" class="signup">Login</md-button>
                        @*  <div flex="flex"></div>*@

                        @*</div>    *@
                        @*  <md-divider></md-divider>*@
                        @*<md-button class="" href="#" md-no-ink>Sign Up</md-button>*@
                        <p class="lastlink" style="align-self:center">
                            Don't have an account?
                            <br />
                            <a href="/Picture/Insert" style="">Register Account</a>
                        </p>

                    </md-content>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

<script src="~/js/app.js"></script>


