
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

OldPassword:<br />
<input type="text" data- id="OldPassword"><br><br>
NewPassword:<br>
<input type="password" id="NewPassword"><br><br>
RetypePassword:<br>
<input type="password" id="RetypePassword">

<span id="validate-status"> </span>
<br> <br>
<input type="button" id="Save" value="Change" />



<script>





    var Data = {

        NewPassword: '',
        OldPassword: '',

    }
    $(document).ready(function () {
        $("#RetypePassword").keydown(validate);
    });


    function validate() {
        var password1 = $("#NewPassword").val();
        var password2 = $("#RetypePassword").val();



        if (password1 == password2) {
            $("#validate-status").text("");
        }
        else {

            $("#validate-status").text("Password doesnot match");
        }




    }









    $(document).ready(function () {
        $("#Save").click(function () {

            Data.OldPassword = $('#OldPassword').val();
            Data.NewPassword = $('#NewPassword').val();





            $.ajax({
                url: '/Users/ChangePassword',
                type: 'POST',



                data: Data,
                beforeSend: function (xhr) {

                    xhr.setRequestHeader("Authorization", 'Bearer ' + localStorage.getItem('token'));
                },


                success: function (data, textStatus, xhr) {
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    window.location = "/Users/UserLogin";
                    console.log(errorThrown);
                }
            });
        });
    });

</script>


