
@{
    ViewData["Title"] = "ForgetPassword";
}

<h2>Click the button to get the password link</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>





   Email: <br />
<input type="text"  id="Email"><br><br>
<input type="button" id="Save" value="Click" />

<script>
    var Pass = {


        Useremail: ''

    }
    $(document).ready(function () {
        $("#Save").click(function () {

            Pass.Useremail = $('#Email').val();






            $.ajax({
                url: '/Users/SendLink',
                type: 'POST',
                data: Pass,
                success: function (data, textStatus, xhr) {
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr);
                }
            });
        });
    });

</script>
    
