
@{
    ViewData["Title"] = "InsertEvent";
}




<h2>InsertEvent</h2>
<link href="~/css/Login.css" rel="stylesheet" />
<link href="~/css/table.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<md-card>
    <md-toolbar>
        <div style="display:inline">
            <h2>
                Event

                <md-icon class="material-icons">search</md-icon>
                @*   <input type="text" value="Name" style="padding-right:900px"/>*@
                <md-input-container>
                    @*   <label style="padding-right:900px">Search</label>*@
                    <input type="text" style="padding-right:900px" />
                </md-input-container>
                <md-icon class="material-icons ">add_circle</md-icon>
            </h2>
        </div>



    </md-toolbar>


</md-card>






