
@{
    ViewData["Title"] = "InsertEvent";
}


<h2>InsertEvent</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    EventName:<br>
<input type="text" id="EventName"><br>
    EventStartDate:<br>
<input type="datetime" id="EventStartDate"><br>
  EventEndDate:<br>
<input type="datetime" id="EventEndDate"><br>
    EventPhoto:<br>
<input type="file" id="myfile" /><br>

<input type="button" id="Save" value="Save Data" />
<script>

    var ObjectEvent = {

        EventName: '',
        EventPhoto:'',
        EventStartDate: '',
        EventEndDate: '',
        EventExtension:''



    };

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    $(document).ready(function () {

        $("#myfile").on('change', function () {
            var file = document.querySelector('input[type="file"]').files[0];
            //    console.log($(this).val());



            // var file = document.querySelector('#myfile > input[type="file"]').files[0];
            getBase64(file).then(
                
                function (data) {

                    ObjectEvent.EventExtension = file.type
                   
                        ObjectEvent.EventPhoto = data
                 

                }




            );
        });
    });




    $(document).ready(function () {
        $("#Save").click(function () {

            ObjectEvent.EventName = $('#EventName').val();
            ObjectEvent.EventStartDate = $('#EventStartDate').val();
            ObjectEvent.EventEndDate = $('#EventEndDate').val();


            $.ajax({
                url: '/Event/Create',
                type: 'POST',
                data: ObjectEvent,
                beforeSend: function (xhr) {

                    xhr.setRequestHeader("Authorization", 'Bearer ' + localStorage.getItem('token'));
                },
                success: function (data, textStatus, xhr) {
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr);
                }
            });
        });
    });
</script>


